<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} · {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>

{% include header.html %}
    <main class="layout-grid">
      <!-- Main content -->
      <section class="col-8 container">
        {{ content }}
      </section>

      <!-- Optional sidebar -->
      {% if page.sidebar %}
        <aside class="col-4 container">
          {% include {{ page.sidebar }}.html %}
        </aside>
      {% endif %}
    </main>


  </body>
</html>
